/* Estilos generales *//*Escribe aquí tu CSS - Fdo LuisGG*/

section#galeria {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    color:rgb(191, 159, 64);
}

.foto img {
    width: 100%;
    display: block;
}

.foto {
    width: 20%;
}

