<!DOCTYPE html>
<html lang="es">
<head th:replace="~{layout/base :: cabecera}"></head>
<body>
    <div class="container mt-5">
        <div class="container my-4">
        	<h1 class="text-center text-primary display-5 mb-3" th:text="${cabecera}"></h1>
        	<p class="text-center lead text-muted" th:text="${titular}"></p>
    	</div>
        <form th:action="@{/articulos/form}" th:object="${articulo}" method="post">
            <div class="card shadow-lg">
                <div class="card-body">
                    <table class="table">
                        <tr hidden>
                            <td>Id</td>
                            <td><input type="text" th:field="*{id}" id="id" class="form-control" readonly></td>
                        </tr>
                        <tr>
                            <td>Nombre</td>
                            <td>
                                <input type="text" th:field="*{nombre}" id="nombre" class="form-control">
                                <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <tr>
                            <td>Categoría</td>
                            <td>
                                <input type="text" th:field="*{categoria}" id="categoria" class="form-control">
                                <small th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <tr>
                            <td>Precio</td>
                            <td>
                                <input type="text" th:field="*{precio}" id="precio" class="form-control">
                                <small th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <tr>
                            <td>Cantidad</td>
                            <td>
                                <input type="text" th:field="*{cantidad}" id="cantidad" class="form-control">
                                <small th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}" class="form-text text-danger"></small>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn btn-outline-primary">Enviar</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="text-center mt-4">
        <a th:href="@{/articulos/listado}" class="btn btn-outline-secondary">Regresar al listado</a>
    </div>
    <script th:replace="~{layout/base :: link}"></script>
</body>
</html>


