@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin: 40px;
}

h1 {
    font-size: 15pt;
    color: white;
}

#comandos {
    margin-top: 22px;
}

#comandos input {
    border: none;
    padding: 8px;
    border-radius: 10px;
    transition: background-color .5s ease;
}

#comandos input:hover {
    background-color: rgb(214, 213, 212);
}

#comandos #entrada {
    outline: none;
}

#comandos #entrada:hover {
    cursor: pointer;
}

button {
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-left: 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    transition: background-color .5s ease;
}

button:hover {
    background-color: rgb(214, 213, 212);
    cursor: pointer;
}

#contenedor {
    background-color: #2A3D45;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
}